-#  This file is app/views/movies/similar.html.haml
%h1 Movies with the same director "#{@movie.director}" as "#{@movie.title}"

%table#movies
  %thead
    %tr
      %th Title
      %th Rating
      %th Director
      %th Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.director
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Back To All Movies', movies_path
